.about-container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(56, 56, 56);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

.about-text {
    width: 35%;
    margin-top: 1rem;
}

.me-portrait {
    min-height: 40rem;
    min-width: 40rem;
    border: 2px solid white;
    margin-top: 4rem;
    // position: absolute;
    // top: 10rem;
    transform:translate(80%);
    
}    

.head {
    width: 40%;
    height: 60%;
    background: var(--skin); 
    border-radius: 100% / 80% 80% 120% 120%; 
    // top: 10%; 
    // left: 50%; 
    // transform: translate(-50%);
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 1.25vmin 3.5vmin 0 -0vmin var(--hair), -1.25vmin 3.5vmin 0 -0vmin var(--hair), -2vmin -7vmin var(--hair), 2vmin -7vmin var(--hair);
}

.mouth {
    width: 2rem;
    height: 1rem;
    background: rgb(92, 14, 14);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 60%;
}

.eyebrow {
    width: 5rem;
    height: 1rem;
    background: var(--hair);
    position: absolute;
    top: 34%;
    left: 34%;

}

//how to set position as a global variable for the container

.eyebrow + .eyebrow {
    left: 54%; 
}

.nose {
  width: 7%;
  height: 20%;
  border-radius: 0 2vmin 5vmin 5vmin;
  border: 1vmin solid var(--line-face);
  border-right: 0.75vmin solid var(--line-face);
  border-left-color: transparent;
  border-top: 0;
  position: absolute;
  left: 50%;
  top: 37%;
  transform: translate(-50%, 0);
  background: var(--skin);
}