.contact-container {
    width: 100vw;
    height: 100vh;
    background-color: #bbb9b9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid white;
  resize: none;
  color: grey;
}