.stack-container {
    width: 100vw;
    height: 100vh;
    background-color: #d3cece;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-details {
    display: flex;
    gap: 1rem;

}

.experience {
    display: flex;
}

.experience-details-icon {
    margin-top: 6px;
    color: grey;
}

.experience > div {
    background: lightgrey; 
    padding: 2.4rem 5rem; 
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    margin-left: 1rem;
    margin-top: 2rem;
}

.experience > div:hover {
    background: transparent;
    border-color: white;
    cursor: default;
}